@media screen and (max-width: 1600px) {
    .overlay-text-for-img img {
        width: auto ;
    }
    .page-lstk {
        margin-top: 100px;
    }
}
@media screen and (max-width: 1489px) {
    .title-head h1 {
        font-size: 105px;
    }
    .title-head p {
        font-size: 20px;
        line-height: 25px; 
    }
}

@media screen and (max-width: 1150px) {
    .title-head h1 {
        font-size: 85px;
    }
    .title-head p {
        font-size: 20px;
        line-height: 25px; 
    }
}

@media screen and (max-width: 850px) {
    .header-buttons {
        display: none;
    }
    .page-lstk {
        margin-top: 0px;
    }
    .overlay-text-for-img {
        height: 68vh;
    }
    .header-mobile-menu {
        display: block;
    }
    .tittle-gcs {
        padding: 0px;
        margin-top: 30px;
    }
    .header-lang {
        gap: 10px;
    }
    .header-logo img{
        width: 77px;
        margin-top: 5px;
    }
    .header-mobile-menu {
        margin-left: 15px;
    }
    .prod-head h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .title-head {
        margin-bottom: 20px;
    }
    .title-head h1 {
        font-size: 62px;
        line-height: 62px;
    }
    .title-head p {
        font-size: 14px;
        line-height: 14px;
        width: 50%;
    }
    .title-head-down {
        display: block;
    }
    .title-head-down-mobile {
        display: flex;
        justify-content: end;
    }
    .video-banner img {
        max-width: 420px;
        width: 100%;
        height: 297px;
    }
    .video-banner {
        margin-bottom: 40px;
    }
    .production-and-service {
        margin-bottom: 50px;
    }
    .take-head h2 {
        font-size: 30px;
        line-height: 30px;
        max-width: 350px;
    }
    .take-buttons a {
        text-decoration: none;
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
    }
    .take-cont-text {
        text-align: left;
        padding: 0px 20px;
    }
    .take-head {
        margin-bottom: 0px;
    }
    .prod-content {
        flex-direction: column;
    }
    .take-tags {
        opacity: 100%;
        padding: 20px 20px 0px 20px;
        visibility: visible;
    }
    .slider-head h2 {
        font-size: 30px;
        line-height: 30px;
        max-width: 300px;
    }
    .take-cont-text h4 {
        font-size: 20px;
        line-height: 22px;
    }
    .blog-block {
        flex: 0 0 100%;
        margin-bottom: 20px;
        background-color: #ECECEC;
    }
    .main-form-head h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .main-form-input input {
        max-width: 360px;
    }
    .main-form-input input[type=submit] {
        max-width: 360px;
        margin-bottom: 20px;
    }
    .main-form-soglashenie span {
        max-width: 360px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-politic {
        display: none;
    }
    .footer-prava {
        display: none;
    }
    .footer-center h3 {
        color: white;
        font-size: 16px;
    }
    .footer-center p a {
        color: #FFFFFF99;
        font-size: 14px;
    }
    .footer-form-input h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .footer-left-ul a {
        font-size: 16px;
        white-space: nowrap;
    }
    .footer-right form button {
        height: auto;
        padding: 15px 30px;
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
    }
    .footer-left ul li {
        margin-bottom: 15px;
    }
    .footer-form-button {
        flex-direction: column;
    }
    .footer-right form button {
        width: 100%;
    }
    .footer-form-button p {
        width: 100%;
        margin-block-start: 0em;
        margin-block-end: 2em;
    }
    .footer-mobile-politic p{
        color: #FFFFFF99;
        margin-block-start: 0em;
        margin-block-end: 7px;
        font-size: 14px;
        line-height: 14px;
    }
    .footer-mobile-politic a{
        text-decoration: underline;
        color: #FFFFFF99;
        font-size: 14px;
        line-height: 14px;
    }
    .footer-left-center {
        margin-bottom: 20px;
    }
    .product-image-container {
        display: flex;
        justify-content: center;
    }
    .footer-form-button {
        gap: 5px;
    }
    .footer-mobile-politic {
        display: flex;
        flex-direction: column;
    }
    .populyariti-products .swiper-slide {
        flex-direction: column-reverse;
        background-color: #ECECEC;
        border-radius: 10px;
        height: 550px;
    }
    .product-image-container img {
        max-width: 290px;
        margin-top: 20px;
    }
    .product-title {
        font-size: 16px;
        text-align: center;
    }
    .pagination-and-arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        padding-bottom: 20px;
    }
    .length {
        top: 110%;
        right: 67%;
    }
    .width {
        top: 110%;
        left: 33.8%;
    }
    .navigation-pagination {
        margin-bottom: 0px;
    }
    .height {
        top: 110%;
        left: 68%;
    }
    .populyariti-products .swiper-pagination {
        left: 42%;
        top: 1440%;
        position: absolute;
    }
    .blog-text p {
        font-size: 20px;
        line-height: 20px;
    }
    .blog-mobile-button {
        display: flex;
        justify-content: center;
        padding: 15px 30px;
        border: solid 1px #003469;
        border-radius: 100px;
    }
    .blog-mobile-button a{
        color: #003469;
        font-weight: 600;
    }
    .populyariti-products {
        margin-bottom: 50px;
    }
    .populyariti-products .swiper-button-prev, .swiper-button-next {
        visibility: hidden;
    }
    .populyariti-products .slider-head h2 {
        margin-block-end: 0em;
    }

    .newsdetail-sidebar {
        display: none;
    }
    .page-newsdetail-head h1 {
        font-size: 36px;
        line-height: 36px;
    }
    .newsdetail-article-text {
        font-size: 14px;
    }
    .newsdetail-container {
        padding: 7px;
        width: 100%;
        max-width: 375px;
    }
    .newsdetail-share-container {
        flex-direction: column;
        align-items: start;
    }
    .news-detail-slider-head h2{
        color: #003469;
        font-size: 30px;
        line-height: 30px;
    }
    .news-date {
        color: #A8A8A8;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.4px;
    }
    .slider-pagin-container-index .swiper-pagination {
        /* width: 150% !important; */
        display: flex;
        justify-content: center;
        background-color: #F2F2F2 !important;
        padding-top: 15px;
    }
    .swiper-pagination-bullet {
        width: 132px;
        margin: 0px !important;
    }
    .news-detail-slider {
        max-width: 390px;
        display: block;
        width: 100%;
        margin-top: 40px;
        overflow: hidden;
    }
    .news-details-swiper {
        width: 66%;
    
    }
    .blog-head a {
        display: none;
    }
    .blog-head h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .swiper-wrapper {
        display: flex;
        /* height: 150px; */
    }
    
    /* .swiper-slide {
        background-color: #f0f0f0;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 240px;
        height: 107px;
        flex-shrink: 0;
    } */
    
    .news-block {
        padding: 10px;
        width: 300px;
        height: 171px;
        box-sizing: border-box;
        background: white;
        border-radius: 5px;
    }
    
    .news-title {
        color: #003E9A;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        margin-bottom: 10px;
        display: flex;
        text-align: left;
    }
    
    .news-date {
        color: #A8A8A8;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.4px;
        display: flex;
        margin-top: 20px;
    }
    
    /* .swiper-pagination {
        position: relative;
        bottom: 10px;
        height: 5px;
        background-color: #e0e0e0;
    } */
    
    .swiper-pagination-bullet {
        width: 100px;
        height: 5px;
        background-color: #003E9A;
        border-radius: 0;
        margin: 0 2px;
    }
    
    .all-news-button {
        /* display: block; */
        width: 100%;
        padding: 10px 0;
        background-color: #003E9A;
        color: white;
        text-align: center;
        border: none;
        border-radius: 50px;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        margin-top: 20px;
    }
    
    .all-news-button:hover {
        background-color: #003399;
    }
    .newsdetail-share-container a {
        align-items: end;
    }
    .news-filters {
        display: none;
    }
    .news-swip-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 3.5em;
        line-height: 16px;
        font-size: 14px;
    }
    .catalog-cat-flex {
        display: block;
    }
    .catalog-car-sidebar-container {
        width: 100%;
        padding-right: 0px;
    }
    .catalog-car-main-content {
        width: 100%;
    }
    .catalog-car-product-card {
        flex: 0 0 90%;
    }
    .mobile-container-cat-head {
        display: block;
        padding: 10px;
        margin-bottom: 20px;
    }
    .catalog-car-main-cont-head {
        display: none;
        padding: 10px;
    }
    .mobile-container-cat-head h2 {
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        color: #003469;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .mobile-container-cat-head p {
        font-size: 14px;
        line-height: 16.8px;
        color: #818181;
    }
    /* .catalog-car-category ul {
        display: none;
    }
    .catalog-car-sb-cond-group {
        display: none;
    } */
    .catalog-car-sidebar {
        margin-bottom: 10px;
        padding: 15px 0px;
    }
    .catalog-car-product-list {
        margin-top: 40px;
    }
    .cat-car-mobile-chevron {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cat-car-mobile-chevron img{
        display: block;
        padding: 0px 20px;   
    }
    .mobile-containet-cat-button {
        display: flex;
        justify-content: center;
    }
    .mobile-containet-cat-button a{
        display: flex;
        align-items: center;
    }
    .mobile-container-cat-text {
        max-height: 100px; /* Задаём высоту, которая показывает текст наполовину */
        overflow: hidden;
        transition: max-height 0.5s ease; /* Плавное изменение высоты */
    }
    .mobile-container-cat-text.expanded {
        max-height: 500px; /* Задаём высоту для полного показа текста */
    }
    .mb-cont-chevron-icon {
        transition: transform 0.5s ease; /* Анимация для поворота изображения */
    }
    
    .mb-cont-chevron-icon.rotated {
        transform: rotate(180deg); /* Поворот на 180 градусов */
    }
    .cat-car-mobile-chevron h3 {
        font-size: 16px;
        line-height: 19.2px;
        font-weight: 500;
        color: #00346999;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding: 0px 20px;
    }
    .mobile-containet-cat-button a{
        font-size: 16px;
        line-height: 16px;
        font-weight: 500;
        color: #00346999;
    }
    .rotated {
        transform: rotate(180deg); /* Поворот на 180 градусов */
    }
    .cat-car-mobile-chevron img {
        transition: transform 0.5s ease; /* Плавная анимация для поворота */
    }
    .expanded {
        max-height: 500px !important; /* Достаточно большое значение для полного раскрытия блока */
    }
    .catalog-car-sb-cond-group {
        max-height: 0; /* Изначальная высота 0 */
        overflow: hidden;
        transition: max-height 0.5s ease; /* Плавное изменение высоты */
    }
    .take-tags span {
        display: inline-block;
        margin-bottom: 10px;
    }

    .take-cont-img {
        margin-top: 0px;
        padding: 0px 20px;
    }
    .about-head h1 {
        font-size: 62px;
        line-height: 62px;
        color: #003469;
    }
    .about-blocks-container {
        width: auto;
    }
    .about-video-container {
        width: auto;
        height: 380px;
    }
    .about-blocks {
        padding: 0px;        
    }
    .about-video-and-blocks {
        flex-direction: column;
    }
    .main-form-main {
        padding: 15px;
    }
    .text-about-block {
        font-size: 36px;
        line-height: 36px;
        font-weight: bold;
        color: #003469;
    }
    .text-about-arrow {
        display: inline-block;
        border-bottom: 6px solid #24588E;
        width: 105px;
        position: relative;
        top: -9px;
        left: -22px;
    }
    .text-about-arrow::after {
        content: "→";
        position: absolute;
        right: -29px;
        top: -30px;
        font-size: 116px;
        color: #24588E;
    }
    .desktop-title-gcs {
        display: none;
    }
    .mobile-title-gcs {
        display: block;
    }
    .about-blocks h2 {
        font-size: 25px;
        line-height: 25px;
        color: #FFFFFF;;
        margin-block-start: 20px;
        margin-block-end: 15px;
    }
    .akreditatori-head h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .akreditatori {
        margin-top: 50px;
    }
    .faq {
        margin-top: 50px;
    }
    .faq-text img {
        width: 25px;
    }
    .faq-head h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .faq-text h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .main-form {
        margin-top: 50px;
    }
    .footer {
        margin-top: 70px;
    }
    .faq-dropdown-text p{
        font-size: 14px;
        line-height: 16.8px;
    }
    .mobile-akreditatori .swiper-slide {
        width: 140px !important;
    }
    .mobile-akreditatori .swiper-slide img {
        max-width: none;
        width: 140px;
    }
    .about-blocks p {
        font-size: 14px;
        line-height: 16.8px;
        color: #FFFFFF;
        font-weight: 400;
    }
    .blog-dateandhead {
        padding-left: 0px;
        padding: 10px;
        gap: 10px;
    }
    .blog-page-block {
        flex-direction: column;
        height: auto;
    }
    .blog-dateandhead h3 {
        margin-block-end: 0px;
    }
    .blog-dateandhead p {
        margin-block-end: 0px;
    }
    .blog-contentandbutton {
        padding: 10px;
        padding-top: 0px;
    }
    .blog-image img {
        width: 100%;
        border-radius: 10px;
    }
    .blog-dateandhead p{
        display: none;
    }
    .blog-cont-butt-date {
        display: block !important;
    }
    .blog-content-button {
        justify-content: space-between;
    }
    .contacts-head h1 {
        font-size: 62px;
        line-height: 62px;
    }
    .contacts-send-call {
        flex-direction: column;
    }
    .contacts-send-block {
        width: auto;
    }
    .send-name h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .send-text span {
        font-size: 14px;
        line-height: 16.8px;
    }
    .send-email span {
        font-size: 20px;
        line-height: 22px;
    }
    .send-flex {
        height: 90%;
    }
    .contacts-map-block {
        width: auto;
        height: auto;
    }
    .map-addres {
        flex-direction: column;
        align-items: baseline;
    }
    .map-marker {
        margin-bottom: 15px;
    }
    .map-place {
        height: 250px;
    }
    .map-place img {
        height: 100%;
    }
    .contacts-map-block {
        margin-bottom: 90px;
    }
    .page-slovari-head h1 {
        font-size: 62px;
        line-height: 62px;
    }
    .page-newsdetail-main {
        flex-direction: column-reverse;
    }
    .slovari-sidebar {
        padding: 10px;
        max-width: 375px;
        width: 100%;
        margin-bottom: 15px;
    }
    .newsdetail-article-text {
        text-align: justify;
        max-width: 375px;
        width: 100%;
    }
    .mobile-page-slovari-head {
        display: block;
    }
    .desktop-page-slovari-head {
        display: none;
    }
    .overlay-text-for-img img {
        top: -30%;
        width: 420px;
        height: 760px;
        object-fit: cover;
    }
    .overlay-text-for-img .overlay-text {
        font-size: 43px;
        line-height: 43px;
    }
    .overlay-text-for-img .cta-button {
        width: 67%;
    }
    .kar-lstk-block {
        flex-direction: column;
    }
    .kar-lstk-r-text-bolsh {
        width: auto;
    }
    .kar-lstk-block h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .kar-lstk-r-text-melk p {
        font-size: 14px;
        line-height: 16.8px;
    }
    .kar-lstk-r-text-bolsh span {
        font-size: 20px;
        line-height: 24px;
    }
    .kar-lstk-r-text-melk {
        margin-top: 20px;
    }
    .kar-lstk-r-img {
        width: 100%;
    }
    .kar-lstk-r-img-flex {
        display: none;
    }
    .kar-lstk-r-img-slide-block {
        width: 330px;
    }
    .kar-lstk-r-img-slide-block img{
        width: 330px;
        height: 250px;
    }
    .mobile-akradit-wrapper {
        max-width: 375px;
    }
    .kar-lstk-r-img-slide {
        max-width: 410px;
        overflow: hidden;
        display: block;
    }
    .dynamic-content {
        display: none;
    }
    .kar-lstk-right-side {
        align-items: baseline;
    }
    .kart-xark-blocks-obsh-flex {
        gap: 0px;
        flex-direction: column;
    }
    .kart-xark-text {
        display: none;
    }
    .kart-xark-text-mobile {
        display: block;
    }
    .kart-xark-text-mobile span {
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        color: #00346999;
        width: auto;
        flex-wrap: wrap;
        white-space: normal;
        display: flex;
    }
    .kar-lstk-r-xarakterestikc {
        width: 100%;
    }
    .kart-xark-numbers span {
        font-size: 62px;
        line-height: 62px;
    }
    .kart-xark-numbers-and-text p {
        font-size: 30px;
        line-height: 30px;
    }
    .components-padding span {
        padding-left: 0px;
    }
    .components-button-slider {
        display: none;
    }
    .kart-xark-blocks-obsh-flex {
        width: 100%;
    }

    .dynamic-content-mobile  {
        display: block;
    }
    .dynamic-content-mobile {
        max-width: 420px;
        overflow: hidden;
    }
    .dynamic-content-block  img{
        width: 330px;
        height: 387px;
    }
    .dynamic-content-block {
        width: 330px;
    }
    .dynamic-content-block p {
        font-size: 14px;
        line-height: 16.8px;
        color: #003469;
        text-align: justify;
    }
    
    .components-button-slider-mobile {
        display: block;
        max-width: 420px;
        overflow: hidden;
    }
    .components-button-slider-mobile-block img {
        width: 330px;
        height: 250px;
        border-radius: 10px;
    }
    .components-button-slider-mobile-block {
        width: 330px;
        margin-right: 20px;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }
    .components-button-slider-mobile-block p {
        font-size: 14px;
        line-height: 16.8px;
        color: #003469;
        text-align: justify;
    }
    .components-button-slider-mobile-block h2 {
        font-size: 24px;
        line-height: 24px;
        color: #003469;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
    .product-page-container {
        flex-direction: column;
    }
    .image-gallery {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .main-image {
        height: auto;
    }
    .arrow {
        top: 35%;
        padding: 0px;
        font-size: 45px;
    }
    .pr-page-swip-button-flex {
        display: none;
    }
    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
    }
    
    .mobile-menu ul li {
        padding: 20px;
        font-size: 1.5rem;
    }
    
    .mobile-menu ul li a {
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        line-height: 30px;
    }

    .submenu li a {
        font-size: 20px !important;
        line-height: 22px !important;
    }
    .submenu li {
        padding: 7px 20px !important;
    }
    
    .mobile-menu ul li a:hover {
        color: #ffcc00; /* Цвет текста при наведении */
    }
    
    .closebtn {
        font-size: 2rem;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    
    /* Анимация открытия меню */
    .open-menu {
        width: 100%; /* Ширина меню в открытом состоянии */
    }
    
    .submenu {
        display: none; /* Скрыт по умолчанию */
        padding-left: 20px;
    }
    /* .prod-block {
        margin-left: 6px;
    } */

    .catalog-item {
        /* display: flex; */
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid #D9D9D9;
      }
      
      .catalog-item-flex {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
      .catalog-container {
        display: block;
      }
      .catalog-container h2 {
          font-size: 30px;
          line-height: 30px;
          color: #00346999;
          font-weight: 600;
          max-width: 300px;
          margin-block-start: 10px;
          margin-block-end: 10px;
          margin-top: 50px;
      }
      
      .item-number {
        font-size: 16px;
        color: #A6A6A6;
        margin-right: 10px;
        width: 50px;
      }
      
      .slider-head {
          margin-top: 50px;
      }
      
      .item-content {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 100%;
      }
      .item-arrow img {
          width: 20px;
      }
      
      .item-content p {
        font-size: 20px;
        line-height: 22px;
        color: #003469;
        font-weight: 600;
        margin-block-start: 5px;
        margin-block-end: 0px;
      }
      
      .item-positions {
        background-color: #F7F7F7;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 12px;
        color: #818181;
      }
      
      .item-arrow {
        font-size: 20px;
        color: #385EA9;
      }
     .footer-logo {
         margin-bottom: 0px;
     }
     
}
